.navbar-container,
.logo-container,
.navbar-search,
.nav-items,
.hamburger-drop-icons {
	display: flex;
	align-items: center;
}

.navbar-container {
	height: 100px;
	justify-content: space-between;
}

.logo-container {
	width: 150px;
	justify-content: space-around;
}

.navbar-search {
	padding: 10px 0;
}

.navbar-search-container {
	border-bottom: 1px solid gray;
}

.navbar-search-container:hover {
	border-bottom: 1px solid var(--primary);
}

.navbar-search-input {
	border: none;
	font-size: 17px;
	color: rgb(166, 166, 166);
	margin: 0 10px;
	background-color: transparent;
}

.navbar-search-input:focus {
	outline-style: none;
	box-shadow: none;
}

.nav-items a {
	text-decoration: none;
	margin: 0 20px;
	padding: 10px 0;

	font-size: 17px;
	color: black;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	transition: 0.4s;
}

.nav-items a:hover {
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}

.hamburger,
.hamburger-drop-down {
	display: none;
}

@media only screen and (max-width: 1100px) {
	.navbar-search-container,
	.nav-items {
		display: none;
	}

	.hamburger-container {
		position: relative;
	}

	.hamburger {
		display: block;
		padding: 10px;
		cursor: pointer;
	}

	.hamburger span {
		display: block;
		width: 35px;
		height: 5px;
		background-color: rgb(41, 41, 41);
		margin-bottom: 2px;
		border-radius: 20px;

		transform-origin: 0 0;
		transition: 0.4s;
	}

	.hamburger:hover span:nth-child(1) {
		background-color: var(--primary);
		transform: translate(5px, -8px) rotate(45deg);
		box-shadow: 0 0 15px var(--primary);
	}
	.hamburger:hover span:nth-child(2) {
		display: none;
	}
	.hamburger:hover span:nth-child(3) {
		background-color: var(--primary);
		transform: translateY(10px) rotate(-45deg);
		box-shadow: 0 0 15px var(--primary);
	}

	/*close hamburger*/
	.close-hamburger span:nth-child(1) {
		transform: translate(5px, -8px) rotate(45deg);
	}
	.close-hamburger span:nth-child(2) {
		display: none;
	}
	.close-hamburger span:nth-child(3) {
		transform: translateY(10px) rotate(-45deg);
	}
	/*close hamburger*/

	.hamburger-drop-down {
		display: block;
		position: absolute;
		background-color: rgb(255, 255, 255);

		border: 1px solid var(--light-gray);
		border-radius: 10px;

		padding: 10px;
		top: -300px;
		right: 15px;
		opacity: 0;

		transition: 0.4s;
		z-index: 1;
	}

	.hamburger-dropdown-active {
		height: auto;
		transform: translateY(350px);
		opacity: 1;
		pointer-events: auto;
	}

	.hamburger-drop-down a {
		text-decoration: none;
		margin: 10px;
		display: flex;

		font-size: 20px;
		color: rgb(24, 24, 24);
	}

	.hamburger-drop-down a:hover {
		color: var(--primary);
	}

	.hamburger-drop-icons {
		justify-content: space-around;
		border-top: 0.5px solid gray;
	}

	.hamburger-drop-icons a {
		padding: 10px;
		border-radius: 20px;
	}

	.hamburger-drop-icons a:hover {
		box-shadow: 0 0 10px var(--light-gray);
	}
} ;
